<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:util="http://www.springframework.org/schema/util"
 
 xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/util
 http://www.springframework.org/schema/util/spring-util.xsd">

<!-- 4................... -->
<!-- Collection -->
<bean class="spring.InjectCollections.LinkedList.Emp" name="emp_1">
        <property name="empName">
           <value>Arunendra</value>
        </property>
      
        <property name="empNumber">
          <util:list list-class="java.util.LinkedList">
             <value>8417808076</value>
             <value>9935156888</value>
             <value>8417808076</value>
             <value>9935156888</value>
          </util:list>
        </property>
        
         <property name="empAddress">
           <util:set set-class="java.util.TreeSet">
              <value>Varanasi</value>
              <value>Chandauli</value>
              <value>Lucknow</value>
              <value>Lucknow</value>
           </util:set>
         </property>
         
         <property name="empCourses">
           <util:map map-class="java.util.TreeMap">
              <entry key="Maths" value="20 Years" />
              <entry key="Physics" value="45 Years" />
              <entry key="History" value="4 Years" />
              <entry key="Hindi" value="25 Years" />
           </util:map>
         </property>
</bean>
</beans> 