<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
	<bean class="spring.Cnamespace.Student" name="student_1" 
	      c:studentId="34" c:studentName="Aruendra" c:studentAddress="chandauli">
	</bean>
	<bean class="spring.Cnamespace.Student" name="student_2" 
	      c:studentId="65" c:studentName="Dheeru" c:studentAddress="chandauli">
	</bean>
</beans> 